<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>nbox stream</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="assets/css/output.css">
</head>
<body class="min-h-screen bg-black">

<div hx-ext="sse" sse-connect="/api/events?clientId={{ .ClientID }}">
    <div sse-swap="entry.upsert" hx-swap="none"></div>
</div>

<div class="container mx-auto max-w-4xl p-4 sm:p-8">
    <header class="text-center mb-8">
        <h1 class="text-4xl font-bold tracking-wider text-yellow-400">nbox stream events</h1>
        <hr class="border-t-2 border-gold my-4 opacity-50">
    </header>

    <div x-data>
        <div class="flex justify-center space-x-4 mb-8">
            <button
                    @click="$store.events.activeTab = 'entries'"
                    :class="{ 'btn-active': $store.events.activeTab === 'entries' }"
                    class="btn-custom">
                Entries <span class="btn-badge" x-text="$store.events.entries.length"></span>
            </button>
            <button
                    @click="$store.events.activeTab = 'templates'"
                    :class="{ 'btn-active': $store.events.activeTab === 'templates' }"
                    class="btn-custom">
                Templates <span class="btn-badge" x-text="$store.events.templates.length"></span>
            </button>
        </div>

        <div x-show="$store.events.activeTab === 'entries'" x-transition class="border-2 border-gold rounded-lg p-6 bg-[#232323] bg-opacity-20">
            <h2 class="text-lg font-bold mb-4 text-yellow-200">Latest logs</h2>
            <div class="space-y-4 text-sm sm:text-base">
                <template x-for="(entry, entryIndex) in $store.events.entries" :key="entry.transactionId">
                    <div :class="{ 'border-t border-gold/20 pt-4': entryIndex > 0 }">
                        <div>
                            <span class="log-date" x-text="`[${$store.events.formatDate(entry.timestamp)}]`"></span>
                            <span class="log-type ml-2" x-text="entry.username"></span>
                            <span class="log-type ml-2" x-text="entry.type"></span>
                        </div>
                        <div class="pl-4 mt-1 space-y-1">
                            <template x-for="item in entry.payload" :key="item.key">
                                <div>
                                    <span :class="$store.events.actionClass(item.action)" x-text="`${item.action}:`"></span>
                                    <span class="log-key ml-2" x-text="item.key"></span>
                                    <template x-if="item.error">
                                        <span class="log-error ml-2" x-text="item.error"></span>
                                    </template>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <div x-show="$store.events.activeTab === 'templates'" x-transition class="border-2 border-gold rounded-lg p-6 bg-black bg-opacity-20" style="display: none;">
            <h2 class="text-lg font-bold mb-4 text-yellow-200">Latest Templates</h2>
            <div class="space-y-4 text-sm sm:text-base">
                is coming soon
            </div>
        </div>
    </div>

    <footer class="text-center mt-12 text-xs text-gray-500">
        <hr class="border-t border-gold my-4 opacity-25">
        <p>© 2025 nbox stream events.</p>
    </footer>

</div>



<script>

    document.addEventListener('alpine:init', () => {
        Alpine.store('events', {
            entries: [],
            templates: [],
            activeTab: 'entries',
            formatDate(timestamp) {
                return timestamp.substring(0, 19).replace('T', ' ');
            },
            actionClass(action) {
                const classes = {
                    'created': 'log-action-created',
                    'updated': 'log-action-updated',
                    'deleted': 'log-action-deleted'
                };
                return classes[action] || '';
            }
        });
    })

    htmx.on('htmx:sseMessage', function (event) {
        // console.log("Evento 'entry.upsert' recibido:", event.detail);
        Alpine.store('events').entries.push(JSON.parse(event.detail.data));
    });
</script>

</body>
</html>