<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>HTMX + SSE (con extensión)</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body>

<main>
    <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>

    <div hx-ext="sse" sse-connect="/api/events?clientId={{ .ClientID }}">
        <div sse-swap="entry.upsert" hx-swap="none"></div>
    </div>


    <div x-data>
        <p x-text="$store.events.length + ' eventos cargados'"></p>
        <template x-for="item in $store.events">
            <template x-for="row in item.payload">
                <p>
                    <span x-text="row.key"></span> -
                    <span x-text="row.action"></span> -
                    <span x-text="row.error || '—'"></span>
                </p>
            </template>
        </template>
    </div>

</main>

<script>

    document.addEventListener('alpine:init', () => {
        Alpine.store('events', []);
    })

    htmx.on('htmx:sseMessage', function (event) {
        // console.log("Evento 'entry.upsert' recibido:", event.detail);
        Alpine.store('events').push(JSON.parse(event.detail.data));
    });
</script>

</body>
</html>